# Dependencies
node_modules/

# Build outputs
dist/
.expo/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Turborepo
.turbo/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/migrations/

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
